.search-form{
    display: flex;
    justify-content: space-between;
    gap: 0 40px;

    input{
        width: 100%;
        border-radius: 6px;
        padding: 12px 48px 12px 24px;
        border: 1px solid #E2E4E6;
        outline: none;

        background-image: url(../../img/svg/search.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 98%;

        &::placeholder{
            color: #60738A;
            font-size: 16px;
            font-weight: 400;
        }
    }
}