.title-elements{
    span{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        a{
            text-decoration: none;
            color: #1F354F;

            display: flex;
            flex-direction: row;
            gap: 0 12px;
            align-items: center;
        }
        
    }
}
div.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;

    &-item{
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #C6E9EA;
        border-radius: 16px;
        height: 128px;

        &__header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            margin-bottom: 8px;

            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: #60738A;
            }
        }

        &__body{

            p{
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;

                color: #1F354F;
            }
        }
    }
}

@media(max-width:1250px){
    div.news{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
