.record-content{
    display: flex;
    gap: 34px;

    &__doctor{
        display: flex;
        gap: 0px 45px;
        margin-left: 23px;

        &-list{
            font-size: 22px;
            font-weight: 600;
            line-height: 32px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 40px 0;
                max-width: 290px;
                width: max-content;

                li{
                    color: #1F354F;
                }
            }
        }
    }

    &__adress {
        width: 100%;
        background-color: #0066B3;
        border-radius: 16px;

        &-item {
            padding: 16px 32px;
            margin-bottom: 24px;

            &:last-child{
                margin-bottom: 0px;
            }

            .adress-item__title {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                margin-bottom: 16px;

                li::marker{
                    color: #FFAA46;
                    font-size: 26px;
                }
            }

            .adress-item__call {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-bottom: 8px;
                color: #fff;
                gap: 0 10px;

                a{
                    color: #fff;
                }

                div:first-child{
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 400;
                }

                div{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                }
            }

            .adress-item__register {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                color: #fff;
                gap: 0 10px;

                a{
                    color: #fff;
                    text-decoration: underline;

                    .spn{
                        text-decoration: none;
                    }
                }

                div:first-child{
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 400;
                }

                div{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}

li::marker{
    color: #C22137;
    font-size: 26px;
}