.record-content{
    display: flex;
    gap: 34px;

    &__doctor{
        display: flex;
        gap: 0px 45px;
        margin-left: 23px;

        &-list{
            font-size: 22px;
            font-weight: 600;
            line-height: 32px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 40px 0;
                max-width: 290px;
                width: max-content;

                li{
                    color: #1F354F;
                }
            }
        }
    }

    &__adress {
        width: 100%;
        background-color: #0066B3;
        border-radius: 16px;

        &-item {
            padding: 16px 32px;
            margin-bottom: 24px;

            &:last-child{
                margin-bottom: 0px;
            }

            .adress-item__title {
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                line-height: 32px;
                margin-bottom: 16px;

                li::marker{
                    color: #FFAA46;
                    font-size: 26px;
                }
            }

            .adress-item__call {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-bottom: 8px;
                color: #fff;
                gap: 0 10px;

                a{
                    color: #fff;
                }

                div:first-child{
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 400;
                }

                div{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                }
            }

            .adress-item__register {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                color: #fff;
                gap: 0 10px;

                a{
                    color: #fff;
                    text-decoration: underline;

                    .spn{
                        text-decoration: none;
                    }
                }

                div:first-child{
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 400;
                }

                div{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}

li::marker{
    color: #C22137;
    font-size: 26px;
}

@media(max-width:1250px){
    .record-content{
        flex-direction: column;
    }

    .record-content__doctor{
        justify-content: space-between;
        margin-left: 26px;
    }

    .record-content__doctor-list{
        font-size: 18px;
        width: 100%;
    }

    .record-content__doctor-list ul{
        gap: 20px 45px;
        height: 420px;
        flex-wrap: wrap;
    }

    .adress-item__title{
        font-size: 20px;
    }

    .record-content__adress-item .adress-item__call div{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:900px){

}

@media(max-width:600px){
    .record-content__doctor-list ul{
        height: inherit;
        gap: 0px;
    }
    .record-content__adress{
        display: none;
    }
    .record-content__doctor-list ul li{
        font-size: 14px;
    }
}

@media(max-width:500px){
}

@media(max-width: 475px){
    .record-content__doctor{
        flex-direction: column;
    }
}