.record-content{
    display: flex;
    gap: 34px;

    &__doctor{
        display: flex;
        gap: 0px 45px;
        margin-left: 23px;

        &-list{
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 40px 0;
                max-width: 290px;
                width: max-content;
            }
        }
    }

    &__adress{
        width: 100%;
        background-color: #0066B3;
        border-radius: 16px;
    }
}

li::marker{
    color: #C22137;
    font-size: 26px;
}