.header-holidays{
    padding: 14px 0px;
    background-color: #40B97F;

    &__content{
        max-width: 1300px;
        padding: 0 2%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        p{
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            color: #fff;
        }

        a{
            color: #fff;
            text-decoration: underline;
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;

            picture{
                width: 24px;
                height: 24px;
            }
        }
    }
}

.header{
    margin: 26px 0px;
    display: flex;
    justify-content: space-between;

    &-logo{
        display: flex;
        gap: 0px 16px;
        height: fit-content;

        &__text{
            max-width: 308px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p{
                &:first-child{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }

                &:last-child{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                }
            }
        }
    }

    &-content{
        display: flex;
        flex-direction: column;
        gap: 24px 0;
        width: 60%;
        justify-content: space-between;

        &__buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0px 42.5px;
        }

        &__links{
            display: flex;
            flex-direction: row;

            p{
                display: flex;
                align-items: center;
                color: #1F354F;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                cursor: pointer;

                &:nth-of-type(1){
                    gap: 0 8px;
                }

                &:nth-of-type(2){
                    gap: 0 8px;
                    margin-left: 72px;
                }

                picture{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.header-links {
    background-color: #1F354F;
    padding: 20px 0;
}

.header-links__nav{
    max-width: 1300px;
    margin: 0 auto;
    padding:0 2%;
}

.header-link {
    padding: 20px 5px;
    color: #fff;
    font-weight: 600;
}

.header-links__items{
    display: flex;
    justify-content: space-between;   
}

.header-link{
    text-decoration: none;
}

.header-links__items li{
    list-style: none;
}

@media(max-width:1250px){
    .header-content__buttons{
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .header-logo__text p:last-child{
        font-size: 20px;
    }

    .header-content__links p{
        font-size: 14px;
    }
}

@media(max-width:900px){

}

@media(max-width:500px){

}
